.headerClass
{
    display: flex;
    justify-content: center;
    background-color: blue;
    padding: 10px 0px 10px 0px;
    color: wheat;
    font-size: 2.5em;
    font-family: fantasy;
}

.btn-outline-success
{
    margin-top: 5px;
    width: 250px;
}



.mr-sm-2
{
    margin-top: 5px;
}

.searchClass
{
    display: flex;
    
    
}

.col-4
{
    height: 700px;
    background-color: lightblue;
}

.col-6
{
    height: 200px;
    /* background-color: lightblue; */
}

#searchList_API
{
    margin-top: 5px;
}

#searchList_API button
{   
    margin-top: 5px;
    display: flex;
    width: 200px;
    background-color: lightgray;
    
}