.headerClass
{
    display: flex;
    justify-content: center;
    background-color: blue;
    padding: 10px 0px 10px 0px;
    color: wheat;
    font-size: 2.5em;
    font-family: fantasy;
}

.btn-outline-success
{
    margin-top: 5px;
    width: 100px;
}

.column
{
    height: 700px;
}

.firstColumn 
{
    width: 300px;
}

.firstColumn .navbar
{
    width: 300px;
}


.mr-sm-2
{
    margin-top: 5px;
}

.searchClass
{
    display: flex;
    
    
}

.searchCities
{
    height: 700px;
    width: 300px;
    background-color: lightblue;
}

#CityInfo
{
    height: 200px;
    border: solid;
    border-color: blue;
    margin-top: 10px;
    margin-left: 10px;
    /* background-color: lightblue; */
}

.g-col-6
{
    display: flex;
    flex-direction: row;
}

section
{
    display: flex;
    flex-direction: column;
}

.sectionCard1
{
    display: flex;
}

.sectionCard2
{
    display: flex;
}


#searchList_API
{
    margin-top: 5px;
}

#searchList_API button
{   
    margin-top: 5px;
    display: flex;
    width: 200px;
    background-color: lightgray;
    
}